<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKxUUS1vEElX8BP_Go1DhamGWq9di0fmE</string>
	<key>GCM_SENDER_ID</key>
	<string>128638907033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simbiotikCustomer</string>
	<key>PROJECT_ID</key>
	<string>simbiotik-project-bf220</string>
	<key>STORAGE_BUCKET</key>
	<string>simbiotik-project-bf220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128638907033:ios:be6d8765b2f4e1edbdbe08</string>
</dict>
</plist>